@import url(root.css);

.populerNewsContainer {
  border-bottom: 1px solid black;
}

.populerNewsContainer h1 {
  font-family: var(--font-primary);
}

.homepage main{
  padding: 50px 100px;
}

.newsNewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 0px;
}

.newsNewContainer > * {
  width: 190px;
  border-radius: 10px;
}

@media (max-width: 768px){
  .homepage{
    max-width: 768px;
  }
  .homepage main{
    padding: 15px;
  }

  .homepage h1{
    font-size: 15px;
  }
  .newsNewContainer{
    display: flex;
    flex-wrap: wrap;
  }

  .newsNewContainer > *{
    width: 140px;
    height: 200px;
  }
}