@import url(root.css);

.populerNewsContainer {
  border-bottom: 1px solid black;
  margin: 30px;
}

.populerNewsContainer h1 {
  font-family: var(--font-primary);
  font-size: 25px;
  margin-left: 40px;
}

.homepage h1{
  margin-left: 50px;
}


.newsNewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 50px 50px 50px;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
}

.newsNewContainer > * {
  flex: 1 1 calc(20% - 20px);
  box-sizing: border-box;
}
