/*Search styles*/
.search{
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.searchInput {
  border: none;
  padding: 5px;
  border-radius: 20px;
  width: 200px;
  font-family: var(--font-secondary);
}

button {
  color: black;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* CommentInput styles */
.commentContainer {
  background: #ddd;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
}

.commentContainer label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.commentContainer textarea {
  width: 97%;
  height: 100px;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-family: sans-serif;
}

.commentFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;
}

.commentFooter span {
  font-size: 14px;
  color: #555;
}

.commentFooter button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

@media(max-width: 768px){
  .commentContainer{
    max-width: 300px;
  }
}

/* Sort By styles */
.Terbaru {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: aqua;
}

/* Input Text Style */
.inputText{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.inputText input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #adadad;
  margin-bottom: 10px;
}

input:focus{
  outline: none;
}

/* input code style*/
.inputCode {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}

.code-input {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
}

.code-input:focus {
  border-color: #3A5B22;
  box-shadow: 0 0 5px #3A5B22;
}

/* drop down category */
.dropdown-kategori {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.dropdown-kategori select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Text Area */
.textArea{
  display: flex;
  flex-direction: column;
}

textarea{
  height: 300px;
  border-radius:5px;
  border: 1px solid #ccc;
}

/* sort time */

.rangeDate{
  margin-bottom: 30px;
  display: flex;
  gap: 5px;
}

.rangeDate input{
  padding: 5px;
  border-radius: 5px;
  background-color: #3b82f6;
  border: none;
}