@import url('root.css');

.profileAdminContainer{
    display: flex;
}

.profileAdminContainer aside{
    flex: 1;
}

.profileAdmin{
    flex: 3;
}

.dashboardCardContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}