@import url(root.css);

.searchPageContainer{
    display: flex;
}

.newsSearchContainer {
    flex: 3;
    padding: 40px;
}

.searchPageContainer aside {
    flex: 1;
    border-right: 1px solid var(--color-primary);
    margin-left: 20px;
}